<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.RechargeMapper">
    <resultMap id="BaseResultMap" type="com.mybatis.domain.Recharge" >
        <result column="id" property="id" />
        <result column="city_name" property="cityName" />
    </resultMap>
    <select id="inquire" resultMap="BaseResultMap">
        select * from city where province_id = #{provinceId}
    </select>
</mapper>